body {
  margin: 0;
}

p2 {font-size::9px;}

body {
  margin: 0;
}

html { 
  background: url(Vaporwave background2.jpg) no-repeat center fixed; 
  background-size: cover;
}

.title {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

p {
  color: white;
}

li a:hover:not

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f1f1f1;
  position: fixed;
  height: 15%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
